<section class="bg-white pt-8 pb-10 rounded border border-neutral-200">
  <table class="border-none table-auto w-full mb-[30px]">
    <thead class="bg-primary-900/10 font-medium uppercase text-primary-100">
      <tr>
        @for (head of headings; track $index) {
        <td class="px-14 py-3">{{ head }}</td>

        }
      </tr>
    </thead>

    @defer (on viewport) {
    <tbody>
      @for(account of transactions; track account.id; let last = $last){
      <tr [ngClass]="{ 'border-b border-neutral-250': !last }">
        <td class="ps-14 py-6">{{ accountName }}</td>
        <td class="ps-14 py-6">{{ collectionName }}</td>
        <td class="ps-14 py-6">{{ account.senderName }}</td>
        <td class="ps-14 py-6">{{ account.narration }}</td>
        <td class="ps-14 py-6">
          {{ account.transactionDate | date : "mediumDate" }}
        </td>
        <td class="ps-14 py-6">
          <span
            [ngClass]="{
              'text-success-500': account.status === 'Deposit',
              'text-error-400': account.status !== 'Deposit'
            }"
            >{{ account.status }}</span
          >
        </td>
      </tr>
      }
    </tbody>
    }@placeholder(minimum 750ms) {
    <tbody>
      <tr>
        <td class="ps-14 py-6">
          <div class="h-2 bg-neutral-200 animate-pulse rounded"></div>
        </td>
        <td class="ps-14 py-6">
          <div class="h-2 bg-neutral-200 animate-pulse rounded"></div>
        </td>
        <td class="ps-14 py-6">
          <div class="h-2 bg-neutral-200 animate-pulse rounded"></div>
        </td>
        <td class="ps-14 py-6">
          <div class="h-2 bg-neutral-200 animate-pulse rounded"></div>
        </td>
        <td class="ps-14 py-6">
          <div class="h-2 bg-neutral-200 animate-pulse rounded"></div>
        </td>
        <td class="px-14 py-6">
          <div class="h-2 bg-neutral-200 animate-pulse rounded"></div>
        </td>
      </tr>
    </tbody>
    }
  </table>

  @defer () {
  <div class="pr-14 flex justify-end items-center gap-x-6">
    <p class="text-black">
      Showing {{ transactions[0].id }} to
      {{ transactions[transactions.length - 1].id }} of {{ entries }} entries
    </p>
    <div class="flex items-center gap-x-2 text-primary-100">
      <button
        (click)="prev()"
        [ngClass]="{
          'text-primary-500/40': !pageData.prev,
          'text-primary-500': pageData.prev
        }"
      >
        <ng-icon class="text-2xl mt-2" name="bootstrapArrowLeftShort"></ng-icon>
      </button>

      <button
        [ngClass]="{
          'font-medium text-base text-primary-500': !pageData.prev
        }"
        (click)="changePage(1)"
      >
        1
      </button>
      @for (link of [].constructor(totalPages - 1); track $index; let id =
      $index ){
      <button
        [ngClass]="{
          'font-medium text-base text-primary-500': pageData.prev === id + 1
        }"
        (click)="changePage(id + 2)"
      >
        {{ id + 2 }}
      </button>

      }

      <button
        (click)="next()"
        [ngClass]="{
          'text-primary-500/40': !pageData.next,
          'text-primary-500': pageData.next
        }"
      >
        <ng-icon
          class="text-2xl mt-2"
          name="bootstrapArrowRightShort"
        ></ng-icon>
      </button>
    </div>
  </div>
  } @loading(minimum 500ms) {
  <div
    class="mr-14 h-2 ml-auto w-1/4 bg-neutral-200 animate-pulse rounded"
  ></div>
  }
</section>
