<div
  [ngClass]="{
    'fixed p-10 overflow-y-scroll inset-0 backdrop-blur-[6.5px] bg-black/40 flex justify-center items-center': true,
    hidden: !isBackdropOpen
  }"
>
  <app-date
    [startDate]="startDate"
    [endDate]="endDate"
    [isDateModalOpen]="isDateModalOpen"
    (close)="closeModal()"
    [ngClass]="{
      'xl:w-[50%] md:w-3/4 sm:w-[80%] w-full': true,
      hidden: !isDateModalOpen
    }"
  ></app-date>

  <app-confirm
    [isConfirmModalOpen]="isConfirmModalOpen"
    (open)="openModal()"
    (close)="closeModal()"
    [ngClass]="{ hidden: !isConfirmModalOpen }"
  >
  </app-confirm>
  <app-close
    [isCloseModalOpen]="isCloseModalOpen"
    (close)="closeModal()"
    [ngClass]="{ hidden: !isCloseModalOpen }"
    [accountName]="accountName"
    [collectionName]="collectionName"
  ></app-close>
</div>
