<div
  id="closeModal"
  class="text-center bg-white rounded-[20px] py-12 px-[70px] shadow-[0_8px_56px_18px] shadow-black/[0.08]"
>
  <div
    class="rounded-full mb-8 flex justify-center items-center text-4xl w-[72px] h-[72px] mx-auto bg-success-100 text-success-500"
  >
    <ng-icon name="faSolidCheck"></ng-icon>
  </div>

  <h3 class="font-medium mb-4 text-neutral-650">Account closure successful!</h3>

  <p class="text-primary-100 mb-12">
    You have successfully closed the {{ collectionName }} collection from your
    {{ accountName }} TCSA.
  </p>

  <div class="flex justify-center">
    <a
      routerLink=""
      (click)="closeModal()"
      class="rounded py-[15px] px-[50px] bg-primary-100/[0.04] border border-primary-100 text-primary-100 uppercase font-medium text-xs"
    >
      Done
    </a>
  </div>
</div>
